<head>

    <title>Minesweeper-Game</title>

</head>

<%- include('./partials/header.ejs') %>


<section class="game-main-section">
    <div class="players-info">

        <div>
            <h4 class="opp-lives">Opp lives: <span></span></h4>
            <h4 class="opp-score">Opp score: <span></span></h4>
        </div>

        <h4 class="opp-clicks-left clicks-left"></h4>


    </div>
    <div class="mines-container">

    </div>


    <div class="players-info">
        <div>
            <h4 class="your-lives">Your lives: <span></span></h4>
            <h4 class="your-score">Your score: <span></span></h4>
        </div>

        <h4 class="your-clicks-left clicks-left"></h4>


    </div>
</section>
<input type="hidden" value="<%= creator %>" name="creator"/>
<input type="hidden" value="<%= joiner %>" name="joiner"/>
<input type="hidden" value="<%= gameId %>" name="gameId"/>
<input type="hidden" value="<%= hashedPlayerType %>" name="hashedPlayerType"/>

<button class="start">start</button>
<button class="stop">stop</button>

<script src="script/game.js" defer></script>


