<head>

    <title>Minesweeper-Game</title>

</head>


<%- include('./partials/header.ejs') %>
<% if(user && user.userName){ %>
    <span class="user-username-span">Playing as:<a class="user-username"><%= user.userName %></a>
    </span>


<%  } %>

<div class="msg-game-not-started">
    <h3>Waiting for someone else to join your game</h3>
    <div class="loading-dots">
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>


<section class="game-main-section">

    <h3 class="msg-creator-start-first">The game creator always starts playing first!</h3>

    <div class="players-info-container">


        <div class="players-info opp-info">


            <div class="">
                <h4 class="opp-lives">Opp lives: <span></span></h4>
                <h4 class="opp-score">Opp score: <span></span></h4>

            </div>

            <h4 class="opp-clicks-left clicks-left"></h4>


        </div>

    </div>
    <div class="mines-container">

    </div>


    <div class="players-info-container">
        <div class="players-info your-info">
            <div class="">
                <h4 class="your-lives">Your lives: <span></span></h4>
                <h4 class="your-score">Your score: <span></span></h4>

            </div>

            <h4 class="your-clicks-left clicks-left"></h4>


        </div>


    </div>
</section>

<%- include('./partials/footer.ejs') %>

<input type="hidden" value="<%= creator %>" name="creator"/>
<input type="hidden" value="<%= joiner %>" name="joiner"/>
<input type="hidden" value="<%= gameId %>" name="gameId"/>
<input type="hidden" value="<%= gameName %>" name="gameName"/>
<input type="hidden" value="<%= oppType %>" name="oppType"/>

<script src="script/game.js" defer></script>

